name: Build on Windows

on:
  workflow_dispatch:

jobs:
  build:
    name: Build on Windows
    runs-on: windows-2025

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Restore NuGet Packages
        run: dotnet restore ReplantAPI.sln

      - name: Build Project
        run: dotnet build ReplantAPI.sln -c Release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Release
          path: |
            ReplantAPI/bin/Release/net4.7.2-windows/win-x64
